.timezone-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 8px;
    margin-bottom: 10px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .timezone-item:hover {
    background-color: #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .timezone-name {
    font-size: 16px;
    font-weight: 500;
    color: #495057;
  }
  
  .timezone-time {
    font-size: 16px;
    font-weight: 400;
    color: #343a40;
    margin-right: 20px;
  }
  
  .remove-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
  
  .dark-mode .timezone-item {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .dark-mode .timezone-item:hover {
    background-color: #495057;
  }
  
  .dark-mode .timezone-name {
    color: #f8f9fa;
  }
  
  .dark-mode .timezone-time {
    color: #ced4da;
  }
  
  .dark-mode .remove-button {
    background-color: #6c757d;
  }
  
  .dark-mode .remove-button:hover {
    background-color: #5a6268;
  }
  